[mysqld]
port=3307

user=mysql
default-storage-engine=INNODB
character-set-server=utf8mb4

skip-name-resolve

explicit_defaults_for_timestamp=true
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

[client]
default-character-set=utf8mb4
port=3307

[mysql]
default-character-set=utf8mb4