[mysqld]
user=mysql
datadir=/usr/local/mysql
socket=/usr/local/mysql/mysql.sock
default-storage-engine=INNODB
character-set-server=utf8mb4

[client]
socket=/usr/local/mysql/mysql.sock
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4